@tailwind base;
@tailwind components;
@tailwind utilities;

:roor{
    --toGradient:#8e3bf442;
}
/* input:-webkit-autofill{
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: transparent !important;
} */

